<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Payroll Master Portal", "Organizations", "Company", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session["UserId"] != null)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Organizations", "Organizations", "Company")</li>
                        <li>@Html.ActionLink("Clients", "Clients", "Client")</li>
                        <li>@Html.ActionLink("Manage Payments", "PaymentHistory", "Payment")</li>
                        <li>@Html.ActionLink("Profile", "MasterProfile", "Account")</li>
                        @Html.AntiForgeryToken()
                        <li class="btn btn-default"><a href="javascript:document.getElementById('logoutForm').submit()">Log off <span class="fa fa-sign-out"></span></a></li>
                    </ul>
                </div>
                }
            }
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Payroll Master Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
