@model PayrolSystem.Models.DatabaseFirst.RateTable

@{
    ViewBag.Title = "Add Rate";
}

<div class="jumbotron jumb-app">
    <h2 style="margin-top: 0;">Add Client <span class="fa fa-shopping-cart"></span></h2>
    @using (Html.BeginForm("AddRate", "Rate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <p style="color:red; text-align:center; font-size:12px;">@Html.ValidationMessage("Error")</p>
        if (Session["RateSuccess"] != null)
        {
            <p class="alert alert-success">@Session["RateSuccess"].ToString()</p>
        }
        <div class="form-group">
            <div class="col-md-10">
                <label>Job Title:</label>
                <br />
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.RatePerHour):
                <br />
                @Html.TextBoxFor(m => m.RatePerHour, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RatePerHour, "", new { @class = "text-danger" })
            </div>
        </div>      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}