@model IEnumerable<PayrolSystem.Models.DatabaseFirst.CompanyDetail>

@{
    ViewBag.Title = "List of Organizations";
}

<style type="text/css">
    .col-md-10 {
        color: #fff;
    }

    #radio label {
        float: right;
        display: inline;
    }

    label {
        margin-top: 7px !important;
    }

    radio {
        display: inline;
    }

    p {
        margin: 0px 10px 10px;
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        margin-left: 20px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px green;
    }
</style>

<div class="jumbotron">
    <h2 style="margin-top: 0;">Organizations</h2>
    @using (Html.BeginForm("SearchProductInfo", "Product", FormMethod.Get))
    {
        if (Model.Count() > 0)
        {
            <div style="display: inline-flex;">
                <input type="text" name="q" required class="form-control" style="width:250px" />
                <input type="submit" value="Search" class="btn btn-warning" id="btnSubmit" style="width:150px;margin-left: 10px;" />
            </div>
            <br />

        }
    }
    @if (Model.Count() > 0)
    {
        <div style="overflow:auto;">
            <table class="table table-hover table-condensed" style="width:100%;margin: 10px;color:midnightblue">
                <thead style="background-color:midnightblue; color:#fff;">
                    <tr>
                        <td><b>Company ID</b></td>
                        <td><b>Company Name</b></td>
                        <td><b>Company Address</b></td>
                        <td><b>Active</b></td>
                        <td><b>Date Created</b></td>
                        <td class="DeleteRow"><b></b></td>
                    </tr>
                </thead>
                @foreach (var prod in Model)
                {
                    <tr>
                        <td>@prod.CompanyID</td>
                        <td>@prod.CompanyName</td>
                        <td>@prod.CompanyAddress</td>
                        <td>@prod.ActiveStatus</td>
                        <td>@prod.DateCreated</td>
                        <td class="DeleteRow">
                            <span class="btn btn-info"> @Html.ActionLink("Edit", "EditCompany", new { id = prod.CompanyID })</span> |
                            <span class="btn btn-danger">@Html.ActionLink("Delete", "DeleteCompany", new { id = prod.CompanyID })</span>
                        </td>
                    </tr>
                }

            </table>
        </div>

    }
    @if (Model.Count() < 1)
    {
        <div class="alert alert-danger">
            <p style="text-align:center; color:red; font-size:14px;">No Organization found</p>
        </div>
    }
    <br/>
    <span class="alert alert-info">Total Organizations: @Model.Count()</span>
    <br />

    <button style="float:right" class="btn btn-primary" type="button" onclick="redirect()">Add Organization</button>
</div>
<script>
    function redirect() {
        window.location.href = "AddOrganizations";
    }
</script>

