@model PayrolSystem.Models.DatabaseFirst.CompanyDetail

@{
    ViewBag.Title = "Add Organization";
}

<div class="jumbotron jumb-app">
    <h2 style="margin-top: 0;">Add Organization <span class="fa fa-shopping-cart"></span></h2>
    @using (Html.BeginForm("AddOrganizations", "Company", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <p style="color:red; text-align:center; font-size:12px;">@Html.ValidationMessage("Error")</p>
        if (Session["OrganizationSuccess"] != null)
        {
            <p class="alert alert-success">@Session["OrganizationSuccess"].ToString()</p>
        }
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.CompanyName):
                <br />
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.CompanyAddress):
                <br />
                @Html.TextBoxFor(m => m.CompanyAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.PaymentDay):
                <br />
                @Html.TextBoxFor(m => m.PaymentDay, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(m => m.PaymentDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Start Day:</label>
                <br />
                @Html.DropDownListFor(x => x.StartDay, new SelectListItem[]{
                 new SelectListItem() {Text = "-Select Start Day-", Value= ""},
                 new SelectListItem() {Text = "1", Value= "1"},
                 new SelectListItem() {Text = "2", Value= "2"},
                 new SelectListItem() {Text = "3", Value= "3"},
                 new SelectListItem() {Text = "4", Value= "4"},
                 new SelectListItem() {Text = "5", Value= "5"},
                 new SelectListItem() {Text = "6", Value= "6"},
                 new SelectListItem() {Text = "7", Value= "7"},
                 new SelectListItem() {Text = "8", Value= "8"},
                 new SelectListItem() {Text = "9", Value= "9"},
                 new SelectListItem() {Text = "10", Value= "10"},
                 new SelectListItem() {Text = "11", Value= "11"},
                 new SelectListItem() {Text = "12", Value= "12"},
                 new SelectListItem() {Text = "13", Value= "13"},
                 new SelectListItem() {Text = "14", Value= "14"},
                 new SelectListItem() {Text = "15", Value= "15"},
                 new SelectListItem() {Text = "16", Value= "16"},
                 new SelectListItem() {Text = "17", Value= "17"},
                 new SelectListItem() {Text = "18", Value= "18"},
                 new SelectListItem() {Text = "19", Value= "19"},
                 new SelectListItem() {Text = "20", Value= "20"},
                 new SelectListItem() {Text = "21", Value= "21"},
                 new SelectListItem() {Text = "22", Value= "22"},
                 new SelectListItem() {Text = "23", Value= "23"},
                 new SelectListItem() {Text = "24", Value= "24"},
                 new SelectListItem() {Text = "25", Value= "25"},
                 new SelectListItem() {Text = "26", Value= "26"},
                 new SelectListItem() {Text = "27", Value= "27"},
                 new SelectListItem() {Text = "28", Value= "28"},
                 new SelectListItem() {Text = "29", Value= "29"},
                 new SelectListItem() {Text = "30", Value= "30"},
                 new SelectListItem() {Text = "31", Value= "31"},
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>End Day:</label>
                <br />
                @Html.DropDownListFor(x => x.EndDay, new SelectListItem[]{
                 new SelectListItem() {Text = "-Select End Day-", Value= ""},
                 new SelectListItem() {Text = "1", Value= "1"},
                 new SelectListItem() {Text = "2", Value= "2"},
                 new SelectListItem() {Text = "3", Value= "3"},
                 new SelectListItem() {Text = "4", Value= "4"},
                 new SelectListItem() {Text = "5", Value= "5"},
                 new SelectListItem() {Text = "6", Value= "6"},
                 new SelectListItem() {Text = "7", Value= "7"},
                 new SelectListItem() {Text = "8", Value= "8"},
                 new SelectListItem() {Text = "9", Value= "9"},
                 new SelectListItem() {Text = "10", Value= "10"},
                 new SelectListItem() {Text = "11", Value= "11"},
                 new SelectListItem() {Text = "12", Value= "12"},
                 new SelectListItem() {Text = "13", Value= "13"},
                 new SelectListItem() {Text = "14", Value= "14"},
                 new SelectListItem() {Text = "15", Value= "15"},
                 new SelectListItem() {Text = "16", Value= "16"},
                 new SelectListItem() {Text = "17", Value= "17"},
                 new SelectListItem() {Text = "18", Value= "18"},
                 new SelectListItem() {Text = "19", Value= "19"},
                 new SelectListItem() {Text = "20", Value= "20"},
                 new SelectListItem() {Text = "21", Value= "21"},
                 new SelectListItem() {Text = "22", Value= "22"},
                 new SelectListItem() {Text = "23", Value= "23"},
                 new SelectListItem() {Text = "24", Value= "24"},
                 new SelectListItem() {Text = "25", Value= "25"},
                 new SelectListItem() {Text = "26", Value= "26"},
                 new SelectListItem() {Text = "27", Value= "27"},
                 new SelectListItem() {Text = "28", Value= "28"},
                 new SelectListItem() {Text = "29", Value= "29"},
                 new SelectListItem() {Text = "30", Value= "30"},
                 new SelectListItem() {Text = "31", Value= "31"},
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndDay, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Level:</label>
                <br />
                @Html.DropDownListFor(x => x.Level, new SelectListItem[]{
                 new SelectListItem() {Text = "-Select Level-", Value= ""},
                 new SelectListItem() {Text = "1", Value= "1"},
                 new SelectListItem() {Text = "2", Value= "2"},
                 new SelectListItem() {Text = "3", Value= "3"},
                 new SelectListItem() {Text = "4", Value= "4"},
                 new SelectListItem() {Text = "5", Value= "5"}
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Level, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    function Redirect() {
        location.pathname = "Product/CategorySubType";
    };
</script>